
.main {
    background: turquoise;
    margin: 100px;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 70px;
    padding: 35px;
    font-family: "Comic Sans MS";
}

.display {
    display: none;
}

#sbutton {
    padding: 20px;
    font-size: 20px;
    margin: 25px;
    width: 40%;
    color: navy;
    background: lime;
    border: 2px solid black;
}

#timer {
    font-size: 50px;
    border: 2px dashed #666666;
    padding: 20px;
}

