
body {
    color: rgb(97, 96, 111);
    font-family: "Comic Sans MS";
}

.jumbotron {
    box-sizing: border-box;
    height: 200%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 5px solid #5e7f7e;
}

.main-button-container {
    max-width: 610px;
    margin: 150px auto 0;
}

.answer {
    padding: 7px 10px;
    height: 150%;
    color: black;
    background-color: #5e7f7e;
    border-radius: 10px;
}

.answer:hover {
    background: #ffffff;
}

.first-answer {
    margin-top: 40px;
}

.reset-button {
    margin-top: 40px;
}

.summary-correct {
    margin-top: 40px;
}

img {
    /*width: inherit;*/
    /*height: inherit;*/
    height: 315px;
    width: 550px;
    border: 5px solid #5e7f7e;
}
